@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-lavander {
  background-color: #c7c3ea;
  opacity: 0.85;
}
.bg-periwinkle {
  background-color: #024555;
}
.text-lavender {
  color: #c7c3ea;
}
.text-periwinkle {
  color: #024555;
}

body {
  @apply bg-stone-900 min-h-screen;
}
